## All in build except relevant compiled contracts' JSON file
build/*
!build/contracts/
build/contracts/*
!build/contracts/FiatContract.json
!build/contracts/ReviewsController.json
!build/contracts/RewardsPayer.json

## All in node_modules...
node_modules/*

## ...except drizzle-react.js
!node_modules/drizzle-react/
node_modules/drizzle-react/*
!node_modules/drizzle-react/drizzle-react.js

## ...except drizzle-react-components.js
!node_modules/drizzle-react-components/
node_modules/drizzle-react-components/*
!node_modules/drizzle-react-components/drizzle-react-components.js

build/
build_webpack/
non-code files/
tmp-12088HVi4mbhlCbnE/
CSProject/
.vscode/

## Files
.gitignore
.env